div.container {
  margin: 0 auto;
  max-width: $container-width;
  padding: 0 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
    "header     header      header"
    "about      about       about"
    "project    project     project"
    "mopaviv    mopaviv     mopaviv"
    "empaque    empaque     empaque"
    "shop       shop        shop   "
    "foro       foro        foro"
    "blog       blog        blog"
    "contact    contact     contact"
    "footer     footer      footer";

  header {
    grid-area: header;
  }

  section {
    &.about {
      grid-area: about;
    }

    &.project {
      grid-area: project;
    }

    &.mopaviv {
      grid-area: mopaviv;
    }

    &.empaque {
      grid-area: empaque;
    }
    &.shop {
      grid-area: shop;
    }

    &.foro {
      grid-area: foro;
    }

    &.blog {
      grid-area: blog;
    }
    
    &.contact {
      grid-area: contact;
    }
  }

  footer {
    grid-area: footer;
  }
}
