header {
  background-color: white;
  border-radius: 10px;
  position: sticky;
  top: 0;
  margin-top: 1rem;

  .navbar {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    overflow: hidden;

    h3 {
      margin: auto 0;
    }

    a {
      color: $main-color;
      padding: 20px;
      text-decoration: none;

      &:hover {
        background-color: #ddd;
        color: $main-color;
      }
    }
  }
}

.box-shadow {
  -webkit-box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 6px 6px 16px -5px rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 768px) {
  .navbar a {
    display: none;
  }

  // .panel-btn {
  //   position: fixed;
  //   z-index: 999;
  //   bottom: 1vh;
  //   right: 1vw;
  //   width: 4rem;
  //   height: 4rem;
  //   border: none;
  //   border-radius: 50%;
  //   padding: 0;
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  //   background-color: $second-color;
  // }
}
