.myname {
  background-color: white;
  border-radius: 10px;
  word-wrap: break-word; // Para que quiebre las letras
  text-align: center;
  padding: 20px;
  margin: auto 0;

  h3 {
    padding: 0 20px;
    font-family: $second-font;
    font-size: 3rem; // Cambiar a 4 rem a una resolucion mayor
    font-weight: normal;
  }

  p {
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: $main-color-claro;
  }
}
