
// $main-color: #444;
$main-color:#454135;
$main-color-claro:#7d7a72;
$second-color: #888;

$bg-color:#eaf2f2;

$font-size: 20px;
$container-width:900px;

// $main-modal-color: rgba(247, 222, 30, 0.85);
// $second-modal-color: #222222d9;

$main-font: 'Archivo Narrow', sans-serif;
$second-font: 'Roboto', sans-serif;
// $main-font:sans-serif;